* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto Slab", sans-serif;
  font-size: 1.125em;
  font-weight: 700;
  background-image: linear-gradient(to right top, #e37b47, #ed986b, #f5b390, #fbcfb7, #ffebe0);
  margin-right: 0; }

.sidebar {
  position: fixed;
  right: 0px;
  width: 70px;
  padding: 0 0;
  height: 100vh;
  z-index: 5;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding: 0 5px;
  transition: all 0.7s ease; }
  .sidebar ul {
    list-style-type: none;
    transition: all 0.7s ease; }
    .sidebar ul li {
      padding-top: 20vh;
      transition: all 0.5s ease; }
      .sidebar ul li a {
        color: #344F5E;
        text-decoration: none;
        padding: 20px 25px;
        transition: all 0.2s ease;
        border: 1px solid transparent; }
      .sidebar ul li a:hover {
        box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.3);
        border-radius: 200px; }

@keyframes rotateRight {
  70% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(180deg); } }
@keyframes rotateLeft {
  0% {
    transform: rotate(180deg); }
  70% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(0deg); } }
.office {
  width: 100%;
  height: 100vh;
  margin: 0px auto;
  padding-bottom: 20px;
  position: relative;
  clip-path: polygon(0% 12%, 100% 1%, 100% 88%, 0% 99%);
  background-color: white; }

.screen::after {
  content: "";
  position: absolute;
  left: 50%;
  top: -11px;
  background: #9498a1;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  transform: translate(-50%, -50%); }

.screen::before {
  content: "";
  position: absolute;
  left: -22px;
  top: -22px;
  border-bottom: 36.5rem solid rgba(0, 0, 0, 0.075);
  border-right: 15rem solid transparent;
  border-bottom-left-radius: 10px;
  height: 0;
  width: 50%; }

.power {
  content: "";
  position: absolute;
  left: 96%;
  bottom: -21px;
  color: #94262A;
  width: 13px;
  height: 13px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  transition: ease-in 0.5s all; }

.keyboard {
  position: absolute;
  width: 120px;
  height: 100px;
  bottom: -172px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #202429;
  background: linear-gradient(180deg, #202429 0%, #cdd0d7 20%);
  -webkit-clip-path: polygon(78% 0, 85% 79%, 100% 100%, 0 100%, 15% 81%, 21% 0);
  clip-path: polygon(78% 0, 88% 65%, 100% 100%, 0 100%, 12% 65%, 23% 0);
  border-radius: 5px;
  z-index: 1; }

.screen-6, .screen-15, .screen-16, .screen-18 {
  padding-left: 20px; }

.screen-7, .screen-8, .screen-9, .screen-11, .screen-13, .screen-17 {
  padding-left: 40px; }

.screen-10, .screen-12 {
  padding-left: 60px; }

.screen--btn {
  display: inline;
  transition: 2s all ease; }

.screen--btn-1 {
  text-align: center;
  visibility: hidden;
  margin-left: 85%;
  background: white;
  color: #344F5E;
  border-radius: 3px;
  border: 1px solid white;
  padding: 7px;
  display: inline;
  transition: all 0.2s ease; }

.screen--btn-1:hover {
  background: #344F5E;
  color: white; }

.screen {
  width: 900px;
  height: 500px;
  background: #262A30;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 22px solid #c4c7ce;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.4), -1px 2px 10px rgba(255, 255, 255, 0.5) inset;
  color: white;
  transition: ease-in 0.5s all; }

.lamp {
  position: relative;
  height: 20vh; }
  .lamp .lamp-cable {
    position: absolute;
    width: 10px;
    height: 100px;
    background: #262A30;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%); }
  .lamp .lamp-spot {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 0px;
    border-bottom: 40px solid #262A30;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent; }
  .lamp .lamp-bulb {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background: white;
    filter: blur(3px);
    z-index: -1;
    border-radius: 50%; }
  .lamp .light {
    content: "";
    position: absolute;
    display: block;
    background: #ffebe0;
    bottom: -1px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    height: 71px;
    clip-path: polygon(0% 85%, 50% 0%, 100% 85%, 100% 100%, 0% 100%);
    z-index: -2; }

.checklist {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0px auto;
  position: relative;
  background-image: linear-gradient(to bottom, #ffebe0, #ffefed, #fff4f7, #fefafd, #ffffff);
  z-index: 1;
  text-align: center;
  color: #262a30;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); }

.checklist-circle-0 {
  position: absolute;
  overflow: hidden;
  width: 150px;
  height: 300px;
  background-color: #344F5E;
  opacity: 1;
  right: 0;
  bottom: 35%;
  border-top-left-radius: 800px;
  border-bottom-left-radius: 800px;
  box-shadow: 0px 5px 0px 0px #344f5e;
  z-index: -1; }

.checklist-circle {
  position: absolute;
  overflow: hidden;
  width: 150px;
  height: 300px;
  background-color: #344F5E;
  opacity: 1;
  left: 0;
  bottom: 35%;
  border-top-right-radius: 800px;
  border-bottom-right-radius: 800px;
  box-shadow: 0px 5px 0px 0px #344f5e;
  z-index: -1; }

.line {
  position: absolute;
  z-index: -1;
  bottom: 75%;
  width: 0%;
  height: 5px;
  background-color: #344F5E; }

@keyframes line {
  0% {
    width: 0%; }
  100% {
    width: 35%; } }
.linea {
  position: absolute;
  z-index: -1;
  bottom: 40%;
  left: 35%;
  width: 5px;
  height: 0%;
  background-color: #344F5E; }

@keyframes linea {
  0% {
    height: 0%; }
  100% {
    height: 35.5%; } }
.lineb {
  position: absolute;
  z-index: -1;
  bottom: 75%;
  left: 30%;
  width: 0%;
  height: 5px;
  background-color: #344F5E; }

@keyframes lineb {
  0% {
    width: 0%; }
  100% {
    width: 30%; } }
.linec {
  position: absolute;
  z-index: -1;
  bottom: 40%;
  right: 35%;
  width: 5px;
  height: 0%;
  background-color: #344F5E; }

.lined {
  position: absolute;
  z-index: -1;
  top: 75%;
  right: 0;
  width: 0%;
  height: 5px;
  background-color: #344F5E; }

.linee {
  position: absolute;
  z-index: -1;
  bottom: 25%;
  left: 30%;
  width: 0%;
  height: 5px;
  background-color: #344F5E; }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80vh;
  padding: 0 20%;
  margin: 0; }
  .grid .grida {
    margin: auto; }
  .grid .gridb {
    margin: auto; }

.hireme {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  background-color: #344F5E; }

.ctext, .rtext, .utext, .dtext {
  display: block;
  text-align: left;
  height: 200px;
  padding: 35px 35px 0 35px; }

p {
  position: relative;
  font-weight: 400;
  margin-top: 100px;
  width: 300px;
  background: white;
  border-radius: 20px;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.3); }
  p a {
    display: block;
    background: #344F5E;
    color: white;
    font-weight: 700;
    text-decoration: none;
    margin: 50px 0px 15px 0px;
    padding: 10px 15px 10px 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; }

/*# sourceMappingURL=style.css.map */
