.sidebar
  position : fixed
  right : 0px
  width : 70px
  padding : 0 0
  height : 100vh
  z-index : 5
  background : rgba(255,255,255,1)
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.2)
  padding : 0 5px
  transition : all 0.7s ease

  ul
    list-style-type: none
    transition : all 0.7s ease

    li
      padding-top : 20vh
      transition : all 0.5s ease

      a
        color : #344F5E
        text-decoration : none
        padding : 20px 25px
        transition : all 0.2s ease
        border : 1px solid transparent
      
      a:hover
        box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.3)
        border-radius : 200px


@keyframes rotateRight
  70%
    transform : rotate(0deg)
  100%
    transform : rotate(180deg)

@keyframes rotateLeft
  0%
    transform : rotate(180deg)
  70%
    transform : rotate(180deg)
  100%
    transform : rotate(0deg)


.sidebar--content
  position: fixed
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  left: 50%
  top: 0%
  transform: translate(-50%,5%)
  z-index : 6
  visibility: hidden

.card
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
  transition: all 0.3s cubic-bezier(.25,.8,.25,1)
  background: #fff
  border-radius: 2px
  display: inline-block
  height: 300px
  margin: 1rem
  position: relative
  width: 400px
  &:hover 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)


.card1
  grid-area: 3 / 2 / 4 / 3
  margin: 1rem
  text-align: center
  transition: all 0.3s cubic-bezier(.25,.8,.25,1)
  background: transparent
  border-radius: 2px
  display: inline-block
  height: 100px
  padding-top: 50px
  padding-bottom: 50px
  position: relative
  width: 400px
    
  a
    display: inline-block
    transition: all 0.25s
    color : #344F5E
    background: transparent
    text-decoration: none
    background : transparent
    margin: 10px
    box-shadow: 0.3em 0.3em 0 0 #344F5E, inset 0.3em 0.3em 0 0 #344F5E
    &:hover
      color : white
      box-shadow: 0 0 0 0 #344F5E, inset 6em 3.5em 0 0 #344F5E

@keyframes opacityOn
  0%
    opacity : 0
  40%
    opacity : 0
  100%
    opacity : 1

@keyframes opacityOff
  0%
    opacity : 1
  50%
    opacity : 0
  100%
    opacity : 0